---
layout: default
---

<div class="post">

  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </div>

  <div class="post-content">
    <div class="btn-group">
      {% for button in page.buttons %}
        <a class="pure-button pure-button-primary button-xlarge" href="{{ site.baseurl }}/{{ button.url }}">{{ button.text }}</a>
      {% endfor %}
    </div>

    {{ content }}

    {% if page.origin %}
      <p>
        Go back: <a href="/{{ page.origin['url'] }}">{{ page.origin['text'] }}</a>, or go to <a href="/">the beginning</a>.
      </p>
    {% endif %}

    {% if page.include_chart %}
      {% include tree-chart.html %}
    {% endif %}

  </div>

</div>