---
layout: default
---

<div class="post">

  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </div>

  <div class="post-content">

    {% for item in page.pre_button_content %}
      {% if item.title %}
        <h3>{{ item.title }}</h3>
      {% endif %}
      <p>
        {{ item.content }}
      </p>
    {% endfor %}

    <div class="btn-group">
      {% for button in page.buttons %}
        <a
          class="pure-button pure-button-primary button-xlarge"
          href="{% if button.external == nil %}{{ site.baseurl }}/{% endif %}{{ button.url }}"
        >
          {{ button.text }}
        </a>
      {% endfor %}
    </div>

    {{ content }}

    {% for prev in page.origin %}
      <p>Go back: <a href="{{ site.baseurl }}/{{ prev.url }}">{{ prev.text }}</a>, or go to <a href="{{ site.baseurl }}/">the beginning</a>.</p>
    {% endfor %}

  </div>

</div>