---
layout: default
---

<div class="post">

  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </div>

  <div class="post-content">
    <div class="btn-group">
      {% for button in page.buttons %}
        <a class="pure-button pure-button-primary button-xlarge" href="/{{ button.url }}">{{ button.text }}</a>
      {% endfor %}
    </div>

    {{ content }}

    {% for prev in page.origin %}
      <p>Go back: <a href="/{{ prev.url }}">{{ prev.text }}</a>, or go to <a href="/">the beginning</a>.</p>
    {% endfor %}

  </div>

</div>